<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>

<body class="bg-zinc-900 text-white p-10">
    <div class="flex justify-end">
        <a class="bg-red-500 rounded-md text-sm px-3 py-2" href="/logout">Logout</a>
    </div>

    <div class="new-post">
        <div class="flex gap-3">
            <div class="w-10 h-10 bg-red-500 rounded-md overflow-hidden"><img class="w-full h-full object-cover" src="/images/uploads/<%= user.profilePic %>" alt=""></div>
            <h1 class="text-3xl tracking-tighter"><span class="font-light">Hello</span>, <%= user.name %>
            </h1>
        </div>
        <p class="mt-2">You can create a new post</p>
        <form class="mt-4" action="/newPost" method="post">
            <textarea class="border-2 border-zinc-800 outline-none resize-none px-3 py-2 rounded-md block" placeholder="What's in your mind" name="content"></textarea>
            <input class="bg-blue-500 px-5 py-2 mt-2 rounded-md text-sm" type="submit" value="Create New Post">
        </form>
    </div>

    <div class="posts mt-20">
        <h2 class=" text-zinc-500">Your posts</h2>

        <% user.posts.reverse().forEach(post=> { %>

            <div class="post border-2 bg-zinc-800 border-zinc-700 w-72 rounded-md p-2 px-3 mt-4">
                <p class="text-blue-500">
                    <%= user.username %>
                </p>
                <p class="mt-1">
                    <%= post.content %>
                </p>
                <small class="block mt-5">
                    <%= post.likes.length %> like
                </small>
                <div class="btns flex gap-3">
                    <a class="text-blue-500" href="/like/<%= post._id %>">
                        <%= post.likes.indexOf(user._id)==-1 ? "Like" : "Unlike" %>
                    </a>
                    <a class="text-zinc-500" href="/edit/<%= post._id %>">Edit</a>
                </div>
            </div>

            <% }) %>
    </div>
</body>

</html>